@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    nav button {
        display: none;
    }
    /* hamburger button does not need to be shown in the medium on up views */
    section.forecast {
        display: block;
    }
    /* show the 10-day forecast with the medium view and up */

    header,
    nav,
    main,
    footer {
        max-width: 64em;
    }

    header {
        text-align: center;
    }

    header h1 {
        margin-bottom: 0;
        font-size: 2.4em;
    }

    header h4 {
        margin-top: 0;
        padding-right: 8%;
    }

    .current p {
        font-size: 2em;
        margin-left: 50%;
    }

    picture img {
        margin-top: -20%;
        margin-left: 65%;
        float: right;
        max-width: 40%;
        max-height: auto;
        clear: right;
        position: absolute;
    }
}
