* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
}

header,
nav,
main,
footer {
    /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 37.5em;
    /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
    text-align: center;
    padding-bottom: 1em;
    background: url(https://i.imgur.com/wHIdYuP.jpg);
    margin-top: 0;
    padding: 1em;
    font-family: 'hack';
}

header h1 {
    margin-bottom: 0;
    font-size: 2.4em;
}

header h4 {
    margin-top: 0;
    padding-right: 16%;
}

header img {}

header .subheading {
    font-family: 'Sunflower', sans-serif;
    font-size: 1.3em;

}

nav {
    background-color: #333;
    font-family: 'Sunflower', sans-serif;

}

nav button {
    display: block;
    margin: .2rem 2%;
    margin-top: 0;
    background-color: transparent;
    border: 2px solid white;
    font-size: 1.6rem;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0,0,0, 0.3);
}

nav ul li.active a {
    background-color: #82b1ff;
}

nav ul li a:hover {
    background-color: #111;
}

nav ul.hide { display: none; }

main h2 {}

main figure {
    margin: 0 0 .2rem 2%;
    width: 96%;
}

main figure img {
    max-width: 100%;
    height: auto;
}


main section.weather-summary .current figure.currentWeather {
    width: 100;
    padding-top: 0%;
    display: flex;
    justify-content: flex-end;
}

main section.weather-summary .current figure.currentWeather figcaption {
    font-family: 'Sunflower', sans-serif;
    font-size: 1.2em;
    margin-left: 4%;
    display: flex;
    justify-content: space-between;
}

main section.weather-summary {
    font-family: 'hack';
}

main section.forecast h3 {
    font-family: 'Sunflower', sans-serif;
}

main section.forecast table {
    font-family: 'hack', sans-serif;
    border: 1px solid black;
    padding-right: 1.7rem;

}

main section.forecast table thead tr th {
    padding-left: 2rem;
    text-decoration: bold;
}

main section.forecast table tbody tr td {
    padding-left: 2rem;
}

article {
    margin-top: 4em;
    margin-bottom: 2em;
    font-family: 'hack', sans-serif;
}

article h3 {
    font-family: 'Sunflower', sans-serif;
    font-size: 2rem;
}

article figure.articlePic {
    width: 100;
    padding-top: 0%;
    width: 45%;
    margin: 0 2% 0 0;
    float: left;
}

article p.town-article {
    margin-left:
}

section.footer-bar {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: .5em;
    font-family: 'Sunflower', sans-serif;
}

footer section.contact {
    text-align: center;
    margin-bottom: 0;
    background-color: cadetblue;
    padding: .01rem;
    font-family: 'hack', sans-serif;
}

section.weather-summary {
    text-align: left;
}

section.forecast {
    display: none;
}

.current p {
    font-size: 2em;
    margin-left: 10%;
    padding-top: 10;
    font-family: 'Sunflower', sans-serif;

}

.HolyGrail {
    display: flex;
    height: 100%; /* 1, 3 */
    flex-direction: column;
}

.HolyGrail-header,
.HolyGrail-footer {
    flex: none; /* 2 */
}

.HolyGrail-body {
    display: flex;
    flex: 1 0 auto; /* 2 */
    flex-direction: column;
    padding: var(--space);
}

.HolyGrail-content {
    margin-top: var(--space);
}

/*
.HolyGrail-nav {
    order: -1;
}

.HolyGrail-nav,
.HolyGrail-ads {
    padding: 1em;
    border-radius: 3px;
    background: rgba(147, 128, 108, 0.1);
}

@media (--break-lg) {
    .HolyGrail-body {
        flex-direction: row;
    }
    .HolyGrail-content {
        flex: 1;
        padding: 0 var(--space-lg);
        margin: 0;
    }
    .HolyGrail-nav, .HolyGrail-ads {
        flex: 0 0 12em;
    }
}
*/

.Grid {
display: flex;
}

.Grid-cell {
flex: 0 0 100%;
}

/* Alignment per row */
.Grid--top {
    align-items: flex-start;
}
.Grid--bottom {
    align-items: flex-end;
}
.Grid--center {
    align-items: center;
}

/* Alignment per cell */
.Grid-cell--top {
    align-self: flex-start;
}
.Grid-cell--bottom {
    align-self: flex-end;
}
.Grid-cell--center {
    align-self: center;
}

.Site {
    display: flex;
    flex-direction: column;
    height: 100%; /* 1, 3 */
}

.Site-header,
.Site-footer {
    flex: none; /* 2 */
}

.Site-content {
    flex: 1 0 auto; /* 2 */
    padding: var(--space) var(--space) 0;
    width: 100%;
}
.Site-content::after {
    content: '\00a0'; /* &nbsp; */
    display: block;
    margin-top: var(--space);
    height: 0px;
    visibility: hidden;
}
@media (--break-lg) {
    .Site-content {
        padding-top: var(--space-lg);
    }
    .Site-content::after {
        margin-top: var(--space-lg);
    }
}

.Site-content--full {
    padding: 0;
}
.Site-content--full::after {
    content: none;
}

.mosaic {
    /**
    * Lay out the children of this container with
    * flexbox, which is horizontal by default.
    */
    display: flex;

    /**
    * Set the main axis to be vertical instead of
    * horizontal, so now the children are laid out
    * vertically, from top to bottom.
    */
    flex-direction: column;

    /**
    * Now when the children wrap, they'll wrap to the
    * next "column".
    */
    flex-wrap: wrap;

    width: 478px;
    height: 370px;
    padding: 6px;
    border: 1px solid #D7DBDD;
    overflow: auto;
}

.photo:last-child {
    /**
    * This is the first part of a flexbox hack.
    * It addresses a problem flexbox has with scrolling
    * content. Without this hack, the children on the
    * far right of the container will be flush against
    * the container's right edge.
    */
    position: relative;
}

.photo:last-child::after {
    /**
    * This is the second part of the hack. It creates
    * an invisible element on the last child that
    * forces a space between the child and the right
    * edge of the container.
    */
    display: block;
    width: 11px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 100%;
    visibility: hidden;
    content: "";
}

.photo--small {
    height: 70px;
}

.photo--medium {
    height: 90px;
}

.photo1 {
    background-image: url('https://i.imgur.com/mq57ON6.jpg');
}
.photo2 {
    background-image: url('https://i.imgur.com/3otFWmW.jpg');
}
.photo3 {
    background-image: url('https://i.imgur.com/958movK.jpg');
}
.photo4 {
    background-image: url('https://i.imgur.com/doWDjIi.jpg');
}
.photo5 {
    background-image: url('https://i.imgur.com/hdgRmge.jpg');
}
.photo6 {
    background-image: url('https://i.imgur.com/4OCF4nP.jpg');
}
.photo7 {
    background-image: url('https://i.imgur.com/QqfePmb.jpg');
}
.photo8 {
    background-image: url('https://i.imgur.com/YZDuPYj.jpg');
}
.photo9 {
    background-image: url('https://i.imgur.com/Wp22YOu.jpg');
}
.photo10 {
    background-image: url('https://i.imgur.com/vSL9qvj.jpg');
}
.photo11 {
    background-image: url('https://i.imgur.com/tqZIyDk.jpg');
}

.photo12 {
    background-image: url('https://i.imgur.com/pU1AiwV.jpg');
}

.photo13 {
    background-image: url('https://i.imgur.com/wTD6nUr.jpg');
}

.photo14 {
    background-image: url('https://i.imgur.com/luA7O45.jpg');
}

/********************************************************************
* Font Governance
*******************************************************************/

/* GOOGLE FONTS */


/* font-family: 'Sunflower', sans-serif; */



@font-face {
    font-family: 'hackregular';
    src: url('webfonts/Hack-Regular-webfont.eot');
    src: url('webfonts/Hack-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('webfonts/Hack-Regular-webfont.woff2') format('woff2'),
        url('webfonts/Hack-Regular-webfont.woff') format('woff'),
        url('webfonts/Hack-Regular-webfont.ttf') format('truetype'),
        url('webfonts/Hack-Regular-webfont.svg#hackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hackbold';
    src: url('webfonts/Hack-Bold-webfont.eot');
    src: url('webfonts/Hack-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('webfonts/Hack-Bold-webfont.woff2') format('woff2'),
        url('webfonts/Hack-Bold-webfont.woff') format('woff'),
        url('webfonts/Hack-Bold-webfont.ttf') format('truetype'),
        url('webfonts/Hack-Bold-webfont.svg#hackbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hackitalic';
    src: url('webfonts/Hack-Italic-webfont.eot');
    src: url('webfonts/Hack-Italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('webfonts/Hack-Italic-webfont.woff2') format('woff2'),
        url('webfonts/Hack-Italic-webfont.woff') format('woff'),
        url('webfonts/Hack-Italic-webfont.ttf') format('truetype'),
        url('webfonts/Hack-Italic-webfont.svg#hackitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hackbold_italic';
    src: url('webfonts/Hack-BoldItalic-webfont.eot');
    src: url('webfonts/Hack-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('webfonts/Hack-BoldItalic-webfont.woff2') format('woff2'),
        url('webfonts/Hack-BoldItalic-webfont.woff') format('woff'),
        url('webfonts/Hack-BoldItalic-webfont.ttf') format('truetype'),
        url('webfonts/Hack-BoldItalic-webfont.svg#hackbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
